node_modules/
dist/
.env
.DS_Store
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
coverage/
backend/prisma/*.db
backend/prisma/*.db-journal
PROJET_REPERE.md
classe.sql
classse.md
use_case.md
docs